<!DOCTYPE html>
<!-- Granth | Modern Business Template v1.0 -->
<html lang="{{ page.lang }}">
<head>

<!-- meta tags -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}"/>
<meta name="keywords" content="{{ page.keywords }}"/>
<meta name="author" content="{{ page.author }}">
<meta name="author-url" content="http://www.impulzia.com">
<meta name="robots" content="index, follow">

<!-- favicon -->
<link rel="icon" href="{{ ico.favicon }}" type="image/png">

<!-- page title -->
<title>{{ page.title }}</title>

<!-- css stylesheets -->
{{ css.style }}
{{ css.more }}
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Merriweather" type="text/css" media="all">
<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Varela+Round' type='text/css'>

<!-- js -->
{{ js.jquery_1_7_1 }}
{{ js.scripts }}
{{ js.jquery_easing_1_3 }}
{{ js.jquery_lavalamp_1_3_5_min }}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
{{ js_jquery_gomap_1_3_2_min }}


</head>

<body id="top">
<!-- BEGIN #wrapper -->
<div id="wrapper">

    <!-- BEGIN #header -->
    <div id="header" class="wrapper">
        <div class="container clearfix">

            <!-- BEGIN #logo -->
            <div id="logo"><a href="home.html">{{ img.sitelogo }}</a></div>
            <!-- END #logo -->

            <!-- BEGIN #page-number & #page-info -->
            <div id="page-number">{% if page.id|int < 10%}0{% endif %}{{ page.id|int }}</div>
            <div id="page-info">
                <div id="page-title">
 	               <h1>{{ page.title }}</h1>
                    <span class="title-desc">{{ page.subtitle }}</span></div>
                <div id="preloader" class="preloader"></div>
            </div>
            <!-- END #page-number & #page-info -->

			{% include "lang.html" %}

        </div>
    </div>
    <!-- END #header -->

    <!-- BEGIN #main -->
    <div id="main" class="wrapper">
        <div class="container clearfix">

            <!-- BEGIN #sidebar -->
            <div id="sidebar" class="aside">

                <!-- BEGIN #navigation -->
                <ul id="navigation">
                	{% include "menu.html"  %}
                </ul>
                <!-- END #navigation -->

                <!-- BEGIN #searchbox -->
								<!--
                <div id="searchbox">
                    <form id="searchform" action="result_not_found.html" method="get">
                        <input id="search" name="search" type="text" value="Start searching...">
                        <button id="searchsubmit" type="submit">search</button>
                    </form>
                </div>
								-->
                <!-- END #searchbox -->

                <!-- BEGIN #widgets -->
                <div id="widgets">

                    <!-- BEGIN widget (popular posts) -->
                    {% block widget_one %}{% endblock %}
                    <!-- END widget (popular posts) -->

                    <!-- BEGIN widget (text widget) -->
                    {% block widget_two %}{% endblock %}
                   <!-- END widget widget (text widget) -->

                </div>
                <!-- END #widgets -->

            </div>
            <!-- END #sidebar -->

            <!-- BEGIN #main-content -->
			<div id="main-content" class="content clearfix">
            	{% block content %}{% endblock %}
            </div>
            <!-- END #main-content -->

            {% block bottom %}{% endblock %}

        </div>
    </div>
    <!-- END #main -->

    <!-- BEGIN #footer -->
    <div id="footer" class="wrapper">
        <div class="container clearfix">
            <div class="content">
                <p id="copyright" class="bordered fleft"> &copy; Copyright "Expand your mind"</p>
                <p id="social" class="bordered fright">Follow us on <a href="http://www.facebook.com/expandyourmind" target="_blank">Facebook</a>, <a href="#">Forrst</a> or <a href="http://twitter.com/intent/follow?screen_name=GranthWeb" target="_blank">Twitter</a></p>
            </div>
            <div id="scroll-top"><a href="#top"></a>Scroll to top</div>
        </div>
    </div>
    <!-- END #footer -->

</div>
<!-- END #wrapper -->

</body>
</html>
